body {
    font-family: monospace;
    background-color: #151719;
    margin: 0;
    padding: 20px;
    color:rgb(228, 237, 247);
    justify-self: center;
}

.main {
    margin: 0;
    background: #262b2d;
    padding: 24px;
    border-radius:4px;
    max-width: 500px;
}

h1 {
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 14px;
    font-family: monospace;
    border: 1px solid #525252;
    border-radius: 4px;
    background-color: #99AAB5;
}

button {
    padding: 10px;
    font-size: 20px;
    background-color:rgb(86, 100, 252);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: monospace;
}

button:hover {
    background-color: rgb(68, 80, 214);
}

.hasil {
    display: flex;
    justify-content: space-between;
    background-color: rgb(53, 65, 199);
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee6c;
}

.namaItem {
    flex: 1;
}

.jumlahItem {
    margin: 0 10px;
    font-weight: bold;
    color: #c0392b;
}

.buttonHapus {
    background-color: #c0392b;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
}

.buttonHapus:hover {
    background-color: #992d22;
    font-weight: bold;
}

.kosong {
    text-align: center;
    color: #18c123;
    padding: 10px 0;
}

* {
    box-sizing: border-box;
}